@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --light-color: #fff;
    --light-color-alt: #afb6cd;
    --primary-background-color: #131417;
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-family: 'Poppins', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 68.5%;
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--light-color-alt);
    letter-spacing: 1px;
    transition: background-color .25s,color .25s;
}

a{
    color: inherit;
    text-decoration: none;
}

.logo{
    color: rgb(255, 252, 252);
}

.logo:hover{
    color: rgba(231, 152, 152, 0.973);
}

.form-control{
    border-radius: 18px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    padding: 0.7rem 0;
    width: 40rem;
}

.form-control::placeholder{
    color: rgb(0, 0, 0);
    opacity: 0.9;
    font-size: small;
    text-align: center;
}

button {
  margin: 20px;
  outline: none;
  width: 8rem;
  height: 4rem;
  padding: 10px 25px;
  border: 2px solid rgb(163, 145, 145);
  border-radius: 8px;
  font-weight: 800;
  font-size: 1.2rem;
  color:rgb(255, 252, 252);
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-forum{
  border: none;
  font-size: large;
  text-decoration: underline;
}

.btn-forum:hover{
  color: rgba(231, 152, 152, 0.973);
}

.btn-search {
    position: relative;
    color: rgb(255, 252, 252);
    z-index: 2;
    line-height: 40px;
    padding: 0;
  }
  .btn-search:hover{
    border: none;
  }
  .btn-search:before,
  .btn-search:after {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    border: 2px solid;
    z-index: -1;
    transition: all 0.3s ease;
  }
  .btn-search:before {
    top: 0;
     left: 0;
     border-bottom-color: transparent;
     border-right-color: transparent;
     border-top-color: rgb(255, 252, 252);
     border-left-color: rgb(255, 254, 254);
  }
  .btn-search:after{
     bottom: 0;
     right: 0;
     border-top-color: transparent;
     border-left-color: transparent;
     border-bottom-color: rgb(255, 255, 255);
     border-right-color: rgb(255, 255, 255);
  }
  .btn-search:hover:before,
  .btn-search:hover:after {
    border-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
  }

/* Theme color change */
body.light-theme{
    --light-color: #3d3d3d;
    --light-color-alt: rgba(0,0,0,.6);
    --primary-background-color: #fff;
    --secondary-background-color: #f1f1f1;
    --hover-light-color: #fff;
    --transparent-dark-color: var(--secondary-background-color);
    --transparent-light-color: rgba(0,0,0,.1);
}

/* Header */
.header{
    background-color:rgba(101, 24, 24, 0.973);
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    z-index: 999;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 0rem;
    margin-left: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    padding: 0 4px;
    margin-top: 10rem;
  }
  
  /* Create four equal columns that sits next to each other */
  .column{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  .text-overlay{
    opacity: 0;
    width: 130%;
  }
  
  .column img {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
    border-color: #f1f1f1;
    border-style: solid;
    border-width: 2px;
  }

  .column img:hover{
    opacity: 0.4;
    border-color:brown;
  }
  
  .img:hover .text-overlay{
    opacity: 1;
    width: 100%;
    font-family: 'Allerta Stencil';
    font-size: 22px;
    color: rgb(5, 5, 5);
  }
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  .container {
    position: relative;
    width: 50%;
  }

